@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

html,
body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
	height: 100%;
	width: 100%;
	margin: 0;
	color: #2E2E3C;
	line-height: 24px;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

/* End defaults*/

#page_loading{
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: white;
	float: left;
}

.card {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px;
}

.card .title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
    text-transform: capitalize;
    border-bottom: lightgrey solid 1px;
}

.card .content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
}

.card p {
    margin: 0;
}

.card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}

.card a {
    color: #ffab40;
    margin-right: 20px;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
}

.card .image {
    position: relative;
}

.card .image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.card .image .title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #FFF;
}
